<app-header></app-header>

<div class="lines">
  <div>
    <a class="close" routerLink="/breakfast">
      <span class="waiter-options">
        <i class="spacer-icon material-icons">free_breakfast</i>Desayuno
      </span>
    </a>
  </div>
  <div>
    <a class="close" routerLink="/lunch">
      <span class="waiter-options">
        <i class="spacer-icon material-icons">fastfood</i>Almuerzo
      </span>
    </a>
  </div>
  <div>
    <a class="close" routerLink="/status">
      <span class="waiter-options">
        <i class="spacer-icon material-icons">restaurant_menu</i> Estado Comandas
      </span>
    </a>
  </div>
</div>
