<mat-form-field>
  <input matInput type="text" placeholder="Nombre Cliente" #clientname />
</mat-form-field>

<div class="show-orders">
  <mat-form-field class="chip-list">
    <mat-chip-list #chipList aria-label="Order selection">
      <mat-chip
        class="chip-select"
        *ngFor="let clientOrder of clientOrders"
        [removable]="removable"
        (removed)="remove(clientOrder)"
      >
        {{ clientOrder.name }} $ {{ clientOrder.price }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </mat-form-field>
</div>
<mat-divider></mat-divider>
<div>
  <span class="text">Total: $ {{ sumOrderBreakfast }}</span>
</div>
