<app-waiter></app-waiter>

<mat-grid-list cols="2" rowHeight="450px">
  <mat-grid-tile>
    <div class="container">
      <ul>
        <li
          *ngFor="let food of foods"
          [class.selected]="food === foodSelected"
          (click)="onSelect(food)"
        >
          <span class="breakfast-view text">{{ food.name }} $ {{ food.price }} </span>
        </li>
      </ul>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <app-order [clientOrders]="foodArray" [sumOrder]="totalSum"></app-order>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
