<mat-toolbar>
  <h1>Burger Queen</h1>
  <span class="spacer"></span>

  <div class="icon-options">
    <span routerLink="/home" class="menu-option"> <i class="fas fa-home"></i></span>
  </div>

  <div class="icon-options">
    <span routerLink="/waiter" class="menu-option"> <i class="far fa-smile"></i>Meser@</span>
  </div>

  <div class="icon-options">
    <span routerLink="/chef" class="menu-option"
      ><mat-icon aria-hidden="false">kitchen</mat-icon>Cocina</span
    >
  </div>
</mat-toolbar>
